<title>Details</title>

<table>
  <tr>
    <th>Title</th>
    <th>Sport</th>
    <th>Location</th>
    <th>Time</th>
    <th>Min</th>
    <th>Max</th>
    <th>Signed Up</th>
    <th>Details</th>
  </tr>