  <strong>Success!</strong>
  
<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>
 
<p>
  <strong>Sport:</strong>
  <%= @game.sport %>
<strong>Where:</strong>
  <%= @game.location %>
  <strong>Details:</strong>
  <%= @game.details %>
</p>
